html,
body {
	width: 100%;
	height: 100%;
}
hr {
	border-color: black;
	border-width: 2px;
	width: 650px;
}
a {
	color: #97aabd;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
}
a:hover {
	color: #97aabd;
}

/**************  MENU   ***************/

.menu{
    background-color: white;
    padding: 20px!important;
}
.navbar-fixed-top {
	position: absolute;
}
.navbar-default {
	border-color: rgba(34, 34, 34, 0.05);
	background-color: black;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: black;
}
.navbar-default .navbar-header .navbar-brand {
	font-size: 1.8em;
	text-transform: uppercase;
	font-weight: 300;
	color: black;
}
.navbar-default .navbar-header .navbar-brand:hover {
	color: #7db9e8;
}
.navbar-default .nav li a {
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: 300;
	color: black;
}
.navbar-default .nav li a:hover {
	color: #7db9e8;
}
.navbar-default .nav li .dropdown-menu {
}
.navbar-default .nav li .dropdown-menu li a {
	color: black;
}
.navbar-default .nav li .dropdown-menu li a:hover {
	color: white;
}
.navbar-default .nav li.active a {
	color: #7db9e8!important;
	background-color: #ffffff;
}
/**************  FIN MENU   ***************/


.forum {
    position: relative;
    width: 100%;
    min-height: 100%;
    color: #fff;
    background: url(images/city.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.forum .mask {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.forum .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    z-index: 5;
}
.forum .header-content .header-content-inner h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 3.5em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 250px;
    text-transform: uppercase;
    -webkit-animation-delay: 0.4s;
}

/**** PARTENAIRES ET EXPOSANTS ****/

#partenaires {
	width: 100%;
	height: 500px;
	background-color: #535c87;
	padding: 20px;
}

#partenaires h2 {
	color: white;
}

#partenaires hr {
	border-color: white;
	width: 50%;
	float: left;
	border-width: 1px;
}

#partenaires .slider .content .block-1{
	background-color: white;
	height: 200px;
	border: 2px solid;
	width: 290px;
}

/**** END PARTENAIRES ET EXPOSANTS ****/

/**** NEWSLETTER ****/

#newsletter_accueil {
	width: 100%;
	height: 405px;
}

#newsletter_accueil .abonnement {
	background-color: black;
	height: 100%;
	padding-left: 60px;
	padding-right: 30px;
	padding-top: 60px;

}

#newsletter_accueil .abonnement h2 {
	color: white;
	line-height: 40px;
	text-align: center;
}

#newsletter_accueil .abonnement hr {
	border-color: white;
	text-align: center;
	width: 250px;
	border-width: 1px;
}

#newsletter_accueil .abonnement .form-group {
	margin-top: 70px;
}

#newsletter_accueil .abonnement .form-group input {
	width: 60%;
	height: 50px;
	border-radius: 10px;
	float: left;
}

#newsletter_accueil .abonnement .form-group button {
	background-color: white;
	float: left;
	margin-left: 30px;
	height: 50px;
	border-radius: 10px;
}

#newsletter_accueil .twitter {
	height: 100%;
	border: black solid 1px;
}

#newsletter_accueil .twitter h2 {
	text-align: center;
	padding-top: 100px;
}



/**** END NEWSLETTER ****/

/**** FOOTER ****/

.footer_accueil {
	background-color: black;
	height: 120px;
	width: 100%;
	margin-top: 60px;

}


.footer_accueil .logo p {
	color: white;
	font-weight: bold;
}

.footer_accueil .copyright p {
	color: white;
	font-weight: bold;
	margin-top: 40px;
}

.footer_accueil .butfooter {
	width: 150px;
	height: 50px;
	display: inline-block;
	border: solid white 2px;
	margin-left: 20px;
	margin-top: 30px;
}

.footer_accueil .butfooter p {
	font-weight: bold;
	text-align: center;
	color: white;
	padding-top: 10px;
}

.footer_accueil .footerdroite {
	display: inline-block;
	position: absolute;
	right: 20px;
}
/**** END FOOTER ****/


/**** Présentation ****/

.presentation{
	padding-top: 50px;
	padding-bottom: 75px;
}

.presentation .contenu p{
	padding-top: 30px;
	padding-bottom: 30px;
}

/**** Fin Présentation ****/

/**** Transition ****/

.transition {

}

.transition .row{

}

.transition .row .block1{
	background-color: black;
	height: 350px;
}

.transition .row .block2{
	height: 350px;
	display: flex;
	align-items: center;
}

.transition .row .contenu_block2{

}

.transition .row p{
	padding-top: 30px;
}


/**** Equipe ****/

.equipe{
	padding-top: 50px;
	padding-bottom: 75px;

}

.equipe .contenu_equipe{

}

.equipe .row{
	padding-top: 50px;
	padding-bottom: 50px;
}
.equipe .row .panel {
}
.equipe .row .panel-heading {
	padding: 0;
	height: 300px!important;
	background: black!important;
	cursor: pointer;
}
.equipe .row .panel-body h4 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}
.equipe .row .panel-body h5 {
	text-transform: uppercase;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	color: #737373;
}
.equipe .row .panel-body hr {
	border: 1.5px solid #afafaf;
	width: 100px;
}

/**** Fin Equipe ****/


/**** Programme ****/


.programme{
	padding-top: 50px;
	padding-bottom: 50px;
}
.programme .titre-programme{
	padding-bottom: 50px;
}

.programme .titre-programme h1{
	text-transform: uppercase;
}

.programme .titre-programme hr{
	float: left;
}

.tittel{
	width:100%;
	padding: 30px;
	text-align:left;
	font-size:2em;
	background-color:black;
	color:#f9f9f9;
	border: 2px solid #f9f9f9;
	cursor: pointer;
}

.info{
	color:#333333;
	width: 850px;
	text-align: center;
	display: block;
	margin: 0 auto;
}

.info h3{
	text-align: left;
	text-transform: uppercase;
}

.info h4{
	text-align: left;
	text-indent: 2em;
}
/**** Fin Programme ****/

/**** Transition Programme****/

.transition-programme {

}

.transition-programme .row{

}

.transition-programme .row .block1{
	background-color: black;
	height: 350px;
}

.transition-programme .row .block2{
	height: 350px;
	display: flex;
	align-items: center;
}

.transition-programme .row .contenu_block2{

}

.transition-programme .row p{
	padding-top: 30px;
}

.transition-programme .row a{
	display: block;
	width: 511px;
	text-transform: uppercase;
	padding: 15px 80px;
	margin: 0 auto;
	background-color: black;
	color: #FFFFFF;
	text-decoration: none;
	border-radius: 10px;
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}
.transition-programme .row a:hover{
	background-color: #122b40;
}


/**** Fin Programme ****/

/**** Intervenant ****/

.intervenant{
	padding-top: 50px;
	padding-bottom: 50px;
}

.intervenant .titre-intervenant{
	padding-bottom: 50px;
}

.intervenant .titre-intervenant h1{
	text-transform: uppercase;
}

.intervenant .titre-intervenant hr{
	float: left;
}

.intervenant .intervenant-item {
	right: 0;
	margin: 0 0 15px;
}

.intervenant .intervenant-item .intervenant-link {
	display: block;
	position: relative;
	margin: 0 auto;
	max-width: 400px;
}

.intervenant .intervenant-item .intervenant-link .intervenant-hover {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(255,255,255,.9);
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	transition: all ease .5s;
}

.intervenant .intervenant-item .intervenant-link .intervenant-hover:hover {
	opacity: 1;
}

.intervenant .intervenant-item .intervenant-link .intervenant-hover .intervenant-hover-content {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 20px;
	margin-top: -12px;
	text-align: center;
	font-size: 20px;
	color: #fff;
}

.intervenant .intervenant-item .intervenant-link .intervenant-hover .intervenant-hover-content i {
	margin-top: -12px;
}

.intervenant .intervenant-item .intervenant-link .intervenant-hover .intervenant-hover-content h3,
.intervenant .intervenant-item .intervenant-link .intervenant-hover .intervenant-hover-content h4 {
	margin: 0;
}

.intervenant .intervenant-item .intervenant-caption {
	margin: 0 auto;
	padding: 25px;
	max-width: 400px;
	text-align: center;
	background-color: #fff;
}

.intervenant .intervenant-item .intervenant-caption h4 {
	margin: 0;
	text-transform: none;
}

.intervenant .intervenant-item .intervenant-caption p {
	margin: 0;
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-style: italic;
}

.intervenant * {
	z-index: 2;
}

.intervenant .voir-plus{
	padding: 20px;
	background-color: black;
	color: white;
	text-transform: uppercase;
	border-radius: 10px;
	text-decoration: none;
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}
.intervenant .voir-plus:hover{
	background-color: #1b6d85;
}

@media(min-width:767px) {
	.intervenant .intervenant-item {
		margin: 0 0 30px;
	}
}

.intervenant-modal .modal-content {
	padding: 100px 0;
	min-height: 100%;
	border: 0;
	border-radius: 0;
	text-align: center;
	background-clip: border-box;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.intervenant-modal .modal-content h2 {
	margin-bottom: 15px;
	font-size: 3em;
}

.intervenant-modal .modal-content p {
	margin-bottom: 30px;
}

.intervenant-modal .modal-content p.item-intro {
	margin: 20px 0 30px;
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-style: italic;
}

.intervenant-modal .modal-content ul.list-inline {
	margin-top: 0;
	margin-bottom: 30px;
}

.intervenant-modal .modal-content img {
	margin-bottom: 30px;
}

.intervenant-modal .close-modal {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 75px;
	height: 75px;
	background-color: transparent;
	cursor: pointer;
}

.intervenant-modal .close-modal:hover {
	opacity: .3;
}

.intervenant-modal .close-modal .lr {
	z-index: 1051;
	width: 1px;
	height: 75px;
	margin-left: 35px;
	background-color: #222;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.intervenant-modal .close-modal .lr .rl {
	z-index: 1052;
	width: 1px;
	height: 75px;
	background-color: #222;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.intervenant-modal .modal-backdrop {
	display: none;
	opacity: 0;
}


/**** Fin Intervenant ****/

.partenaire-exposant{
	padding-top: 50px;
	padding-bottom: 50px;
}

.partenaire-exposant .titre-partenaire-exposant{
	padding-bottom: 50px;
}

.partenaire-exposant .titre-partenaire-exposant h1{
	text-transform: uppercase;
}

.partenaire-exposant .titre-partenaire-exposant hr{
	float: left;
}


.map {
	height: 450px;
}

@media(max-width:768px) {
	.map {
		height: 75%;
	}
}




